$bgcolor :#032B43;
$btncolor : #3F88C5;
$btncolorhover : #225D8D;
$boxcolor:#136F63;
$bordercolor:#FFBA08;
$other:#D00000;


@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}