$bgcolor :#032B43;
$bgcolor2 :#AF3B6E;
$btncolor : #60A5FA;
$btncolorhover : #3B82F6;
$boxcolor:#136F63;
// $boxcolor:#059669;
$bordercolor:#FFBA08;
$other:#D00000;
$white:#fff;
$black : #000;

$boxcolor2:#2EBFA5;
$boxcolorcompleted: #78FECF;


$boxcolor3:#216869;
$boxcolor3complete:#49A078;

@mixin flex(){
    display: flex;
    justify-content: center;
    align-items: center;
}