@import "./Storage";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

.base{

    width: 100%;
    height: 100vh;
    @include flex;
    flex-direction: column;
    background: linear-gradient(to left bottom, $bgcolor,$bgcolor2);
    gap: 1.5rem;

    .inputbox{

        background-color: $boxcolor;
        width: 66%;
        padding: 2rem;
        @include flex;
        flex-direction: column;
        gap: 20px;
        border-radius: 1rem;
        box-shadow: 5px 10px 1rem $black ;
        

        >p{

            text-transform: capitalize;
            font-size: 1.5rem;
            color: $white;
            text-align: center;
            letter-spacing: 0.02rem;
            font-weight: 800;

            &:hover{
                text-decoration: underline;

            }
        }
    }



    .todos{
        // height: 20vh;
        @include flex;
        flex-direction: column;
        width: 66%;
        gap: 0.5rem;
        
        .eachtodo{
            width: 100%;
        }
        
        
    }
}

@media  screen and (max-width: 475px) {

    .base{


        .inputbox{

            width: 90%;
            padding: 1rem;
            gap: 10px;

            >p{

                font-size: 1.2rem;
            }


        }

        .todos{

            width: 90%;
            gap: 0.3rem;

            }




    }

}

@media screen and (max-width: 390px){

.base{

     .inputbox{

            width: 95%;
            padding: 1rem;
            gap: 10px;

            >p{
                font-size: 0.8rem;
            }


        }

        .todos{

            width: 95%;
            gap: 0.3rem;

            }




    }
}


