@import "./Storage";

.todobase{

    width: 100%;
    // @include flex;
    display: flex;
    justify-content: center;
    gap: 1rem;
    // flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    // border: 2px solid red;
    box-shadow: 2px 2px 6px $black;

    .todotext{
        width: 66%;
        border-radius: 1rem;
        padding: 0.7rem;
        background-color: $boxcolor3;
        color: $white;
        display: flex;
        text-transform: capitalize;
        // text-align: center;
        // justify-content: center;
        
    }
    
    .todotextmodification{
        
        vertical-align: center;
        text-decoration: line-through;
        text-transform: lowercase;
        // text-align: left;
        


    }

    .Editbtn{
        
        span {
        border: none;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: $btncolor;
        // color: white;

        &:hover{
            background-color: $btncolorhover;
        }

        }

        }

        .deletebtn{

             span {
        border: none;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: $btncolor;
        // color: white;

        &:hover{
            background-color: $btncolorhover;
        }

        }

        }

        


    }



.todoComplete{

        background-color: $boxcolor3complete !important;

        .todotext{

            background-color: $boxcolor3complete;
        }

    }
    .todonotComplete{

     background-color: $boxcolor3 !important;

    }