@import "./Storage";

.todobase{

    width: 100%;
    // @include flex;
    display: flex;
    justify-content: center;
    gap: 1rem;
    // flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    // border: 2px solid red;
    box-shadow: 2px 2px 6px $black;

    .todotext{
        width: 66%;
        border-radius: 1rem;
        padding: 0.7rem;
        background-color: $boxcolor3;
        color: $white;
        display: flex;
        text-transform: capitalize;
        border: none;
        // text-align: center;
        // justify-content: center;
        
    }
    
    .todotextmodification{
        
        vertical-align: center;
        text-decoration: line-through;
        text-transform: lowercase;
        // text-align: left;
        
        


    }

    .Editbtn{
         border-radius: 0.8rem;
         border: none;
        span {
        // width: 100%;
        // height: 100%;
        border: none;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: $btncolor;
        // color: white;

        &:hover{
            background-color: $btncolorhover;
        }

        }

        }

        .deletebtn{
            border-radius: 0.8rem;
         border: none;
             span {
        border: none;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: $btncolor;
        // color: white;

        &:hover{
            background-color: $btncolorhover;
        }

        }

        }

        


    }



.todoComplete{

        background-color: $boxcolor3complete !important;

        .todotext{

            background-color: $boxcolor3complete;
        }

    }
    .todonotComplete{

     background-color: $boxcolor3 !important;

    }


    @media  screen and (max-width:475px) {


        .todobase{

            gap:0.5rem;
            padding: 0.8rem;

            .todotext{

                width: 75%;
                font-size: 0.8rem;
                


            }

            .Editbtn{
                // @include flex;
                // background-color: $boxcolor3;
                
                    span{
                        
                        // width: 2.2rem;
                        @include flex;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        font-weight: 600;
                        
                    }
            }

            .deletebtn{

                span{
                        
                        // width: 2.2rem;
                        @include flex;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        font-weight: 600;
                    }

            }
        }

        
    }


    @media screen and (max-width: 390px){
        
        
        .todobase{

            gap:0.2rem;
            padding: 0.8rem;

            .todotext{

                width: 85%;
                font-size: 0.7rem;

            }

            .Editbtn{
               
                
                    span{
                        
                        // width: 2.2rem;
                        @include flex;
                        width: 100%;
                        height: 100%;
                        font-size: 13px;
                        font-weight:700; 
                        
                    }
            }

            .deletebtn{

                span{
                        
                        // width: 2.2rem;
                        @include flex;
                        width: 100%;
                        height: 100%;
                        font-size: 13px;
                        font-weight:700; 
                        
                    }

            }
        }

    }